* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-do-texto: #667085;
    --cor-principal: #8E2424;
    --cor-principal-transparent: #8e242410;
    --cor-secundaria: #101828;
    --cor-borda-cinza: #EAECF0;
    --font: 'Inter', Arial;

}

body {
   font-family: var(--font);
    background-color: #ffffff;
}
.logo{
    height: 30px;
    width: auto;
}

.top.logo {
    height: 50px;
    margin-right: 1rem;
}
.top__menu {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}


.top__menu__link {
    color: var(--cor-do-texto);
    text-decoration: none;
    font-weight: bold;
}

.top__menu__link li a:hover {
    color: #00bcd4;
}

.top__login {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.top__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.top__login__link {
     color: var(--cor-do-texto);
    text-decoration: none;
    font-weight: bold;
    cursor: pointer
}

.top__login__register {
    color: #ffffff;
    padding: 8px 16px;
    border: 2px solid transparent;
    border-radius: 10px;
    font-weight: 500;
    justify-content: space-between;
    text-decoration: none;
    cursor: pointer;
    background-color: var(--cor-principal);
}

.top__login__register:hover {
  background-color: #611818;
  color: #ffffff; /* ou a cor do fundo do seu nav */
}

.sobre__menu {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-direction: column;
    padding: 5rem;
    gap: 24px;
}

.sobre__menu__sub {
    color: var(--cor-principal);
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    display: flex;
    align-items: center;
}

.sobre__menu__texto {
    color: var(--cor-do-texto);
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding-left: 12rem;
    padding-right: 12rem;
    text-align: center;
    display: flex;
    align-items: center;

}

.sobre__menu__titulo {
    color: var(--cor-secundaria);
    font-weight: 600;
    font-size: 48px;
    padding: 20px;
    text-align: center;
}

.metricas {
    flex-direction: row;
    display: flex;
    padding-bottom: 96px ;
    gap: 64px;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.metricas__projeto {
display: flex;
flex-direction: column;
width: 280px;
height: 192px;
gap: 20px;
width: 100%;
height: 192px;
}

.metricas__colaboradores {
display: flex;
flex-direction: column;
width: 280px;
height: 192px;
gap: 20px;
width: 100%;
height: 192px;
}

.metricas__downloads {
display: flex;
flex-direction: column;
width: 280px;
height: 192px;
gap: 20px;
width: 100%;
height: 192px;
}

.metricas__reviews {
display: flex;
flex-direction: column;
width: 280px;
height: 192px;
gap: 20px;
width: 100%;
height: 192px;
}

.metricas__valor {
    font-size: 60px;
    font-weight: 600;
    font-family: var(--font);
    color: var(--cor-principal);
}

.metricas__titulo {
    font-size: 18px;
    font-weight: bold;
    font-family: var(--font);
    color: var(--cor-secundaria);
    line-height: 28px;
}

.metricas__texto{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: var(--font);
    color: var(--cor-do-texto);   
}

.talentos {
    max-width: 1216px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    box-sizing: border-box;
}

.talentos__box {
    flex-direction: column;
    display: flex;
    padding-bottom: 96px ;
    gap: 64px;
    align-items: center;
    width: 100%;
}
.talentos__sub {
    font-size: 18px;
    font-weight: 500;
    font-family: var(--font);
    color: var(--cor-principal);
    line-height: 28px;
    align-items: center;
    border: 2px solid transparent;
    border-radius: 10px;
    background-color: var(--cor-principal-transparent);
}

.talentos__titulo {
    font-size: 60px;
    font-weight: 600;
    font-family: var(--font);
    color: var(--cor-secundaria);
    align-items: center;
    justify-content: center;
    text-align: center;
}

.talentos__texto {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    font-family: var(--font);
    color: var(--cor-do-texto); 
    align-items: center;
}

.talentos__foto {
    width: 100%;
    max-width: 1216px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.vagas__bloco {
    flex-direction: column;
    display: flex;
    padding-bottom: 96px ;
    gap: 32px;
    align-items: flex-start;
    padding-left: 250px;
    padding-top: 80px;
    padding-right: 250px;
}

.vagas__tipo {
    font-size: 20px;
    font-weight: 500;
    font-family: var(--font);
    color: var(--cor-secundaria);
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    width: 100%;
    max-width: 768px;
    height: 358px;
    gap: 32px;
}

.vagas__conteudo {
    flex-direction: column;
    display: flex;
    padding: 40px ;
    gap: 64px;
    align-items: flex-start;
    width: 100%;
    border: var(--cor-borda-cinza) solid;
    border-radius: 40px;
}

.vagas__conteudo__titulo {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    font-family: var(--font);
    color: var(--cor-secundaria);
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    gap: 32px;
}

.vagas__info {
    display: flex;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    font-family: var(--font);
    color: var(--cor-do-texto); 
    align-items: flex-start;
    gap: 40px;
    padding-right: 50px;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

.vagas__tempo {
    display: flex;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    font-family: var(--font);
    color: var(--cor-do-texto); 
    gap: 40px;
}

.colaboradores__bloco {
    flex-direction: column;
    display: flex;
    gap: 32px;
    align-items: center;
    padding: 64px 2rem; /* padding vertical + horizontal */
    width: 100%;
    max-width: 1216px;
    height: auto;
    border: var(--cor-principal-transparent) transparent;
    border-radius: 16px;
    background-color: var(--cor-principal-transparent);
    margin: 0 auto; /* centraliza horizontalmente */
    box-sizing: border-box;
    margin-bottom: 64px;
}

.colaboradores__sub {
    color: var(--cor-principal);
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    display: flex;
    align-items: center;
}

.colaboradores__titulo {
    font-size: 32px;
    font-weight: 500;
    font-family: var(--font);
    color: var(--cor-secundaria);
    align-items: center;
    justify-content: center;
    text-align: center;   
    line-height: 44px;
}

.colaboradores___pessoal {
    display: flex;
  flex-direction: column;
  align-items: center;
}
.colaboradores__foto {
  width: 150px;
  height: 150px;
  object-fit: cover; /* garante que a imagem preencha o espaço sem deformar */
  border-radius: 50%; /* faz o corte circular */
  align-items: center;
}

.colaboradores__nome {
    color: var(--cor-secundaria);
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    display: block;
}

.colaboradores__func {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    font-family: var(--font);
    color: var(--cor-do-texto); 
    align-items: center;
    text-align: center;
}
@media (max-width: 768px) {
  .top__header {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .top__menu {
    flex-wrap: wrap;
    gap: 1rem;
  }

  .top__login {
    align-self: flex-end;
  }

  .metricas {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
  }

    .metricas > div {
    width: 100%;
    max-width: 320px;
  }

  .sobre__menu__texto {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .talentos {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
  }

  .talentos > div {
    width: 100%;
    max-width: 320px;
  }

  .talentos__titulo {
    padding-left: 1rem;
    padding-right: 1rem;
  }
 .vagas__bloco {
    padding-left: 120px;
    padding-right: 120px;
  }

}
